<section id="sobre-nosotros" class="about-us">
    <h2>Sobre Nosotros</h2>
    <p>En Arrienda tu Finca, somos un equipo apasionado por conectar a las personas con experiencias únicas en el campo. Nuestra misión es facilitar el arrendamiento de fincas, creando oportunidades tanto para propietarios como para aquellos que buscan escapar de la ciudad.</p>
    <div class="team">
      <div class="team-member">
        <img src='../../../assets/images/fotoPendiente.png' alt="Miembro del equipo">
        <h3>Andres Saenz</h3>
        <p>Desarrollador</p>
      </div>
    </div>
  </section>
